<h3>Hero</h3>

<div>
    <div>
        <h1>Software Engineer</h1>
        <h2>George Carr</h2>
        <button>Download CV</button>
    </div>
    <div>
        <img />
        <button>Contact</button>
    </div>
</div>


@code {

}
