<div class="hero">
    <div class="section">
        <h1 class="hero-title">Software Engineer</h1>
        <h2>George Carr</h2>
        <button>Download CV</button>
    </div>
    <div class="section">
        <img src="images/georgecartoon.png"/>
        <button>Contact</button>
    </div>
</div>


@code {

}
