<div class="section">
    <div class="title nats">
        <h2 id="Projects">Projects</h2>
    </div>
    
        <h3 class="numan subtitle">Take a look at my personal projects on <a href="https://github.com/GeorgeCarr44">GitHub</a></h3>
    
    <div class="card-container">
        <ProjectCard Image="images/Streak.svg" Url="https://github.com/GeorgeCarr44/Streak" Text="Habit Tracker app in .Net Maui"/>
        <ProjectCard Image="images/AoC.svg" Url="https://github.com/GeorgeCarr44/AdventOfCode" Text="Yearly Coding Challenges" />
        <ProjectCard Image="images/Personal.svg" Url="https://github.com/GeorgeCarr44/Personal" Text="Blazor website on Azure" />
    </div>
    <hr/>
</div>
