@page "/"

<PageTitle>Home</PageTitle>

@* Hero *@
<div>
    <div>
        <h1>Hero Text</h1>
        <h2>Sub Heading</h2>
        <button>Button 1</button>
    </div>
    <div>
        <img />
        <button>Button 2</button>
    </div>
</div>

@* Waves *@

@* Tech Stack *@

@* Waves *@

@* Experience *@

@* Projects *@

@* Intrests *@

@* Contact *@