@page "/"

<PageTitle>Home</PageTitle>

@* Hero *@
<div>
    <div>
        <h1>Software Engineer</h1>
        <h2>George Carr</h2>
        <button>Download CV</button>
    </div>
    <div>
        <img />
        <button>Contact</button>
    </div>
</div>

@* Waves *@

@* Tech Stack *@

@* Waves *@

@* Experience *@

@* Projects *@

@* Intrests *@

@* Contact *@