<nav class="navbar">
    <a href="https://freecodecamp.org" class="logo">
        <img src="images/logo.svg" alt="logo">
    </a>
    <div class="nav-links">
        <div class="nav-item"><a href="#">Tech Stack</a></div>
        <div class="nav-item"><a href="#">Experience</a></div>
        <div class="nav-item"><a href="#">Projects</a></div>
        <div class="nav-item"><a href="#">Intrests</a></div>
        <div class="nav-item"><a href="#">Contact</a></div>
    </div>
</nav>